@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Playfair+Display:wght@400;500;700&display=swap');

body {
  margin: 0;
  height: calc(100vh - 42px);
  width: calc(100vw - 42px);
  font-weight: 300;
  background: #111;
  overflow:hidden;
}

h1 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size:50px;
  margin:0 10px;
  text-align: center;
  color:white;
}